<%= render "header_ber"%>
<div class="edit-wrapper">
 
    
    <%# タスクの概要 %>
 
  <div class="edit">
    <div class="edit-list">
      <ul class="content">
        <li class="edit-title">クエスト内容</li> 
         <li class="task-content"><%= @task.content %></li>
         <%= form_with(model: @task, local: true) do |form| %>
         <%= form.collection_select(:point_id, Point.all, :id, :name, {}, {class:"select-box", id:"task_point"}) %>
         <h1 class="second-quest">達成度を1〜3で入力してください</h1>
          <% if @task.user_id == current_user.id %>
          <li class="edit-btn"><%= form.submit "クエスト完了" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>