 <%= render "second_header" %>

<div class="wrapper">
    <div class="left-main">
       <h1>クエスト一覧</h1>
       <% if user_signed_in? %>
       <% @tasks.each do |task| %>
       <%= link_to edit_task_path(task.id) do %>
       <div class="task">
          <span class='task-btn'><span></span><%= task.content %></span>
       </div>
       <% end%>
       <% end %>
       <% end %>
    </div>

    <div class="right-main">
       <div class="main">
          <% if user_signed_in? %>
          <div class="player-name"><%= current_user.name %>
           <h2>level:</h2>
           <%= current_user.player_level %>
          </div>
            <div class="point">
               <h2>total exp:</h2>
               <%= @user.exp %>
            </div>
            <div class="next">次のレベルまであと<%= @nextlevel %></div>
          
          <div class="ranking">
          <span class="ran">ランキング</span>
            <% @users.each do |user| %>
            <div class="user"><%= user %></div>
            <% end %>
          <% end %>
          </div>  
       </div>
       
    </div>
   
 </div>