<div class="new-wrapper">
  <%= render "second_header" %>
<div>

<%# タスク入力部分 %>
<div class="create-task">
  <h1 class="new-quest">クエスト作成</h1>
  <% if @task.errors.any? %>
    <%= @task.errors.messages[:content][0]%>
  <% end %>
  <ul class="new-task">
    <%= form_with model: @task, local: true do |form| %>
      <li class="text">クエスト</li>
      <li><%= form.text_field :content, placeholder:"task" %></li>
        <li class="submit"><%= form.submit "GO" %></li>
    <% end %>
  </ul>
</div>