<div class="new-wrapper">
  <%= render "header_ber" %>
<div>

<%# タスク入力部分 %>
<div class="create-task">
  <h1>クエスト作成</h1>
  <ul class="new-task">
    <%= form_with model: @task, local: true do |form| %>
      <li><%= form.label :content, 'クエスト' %></li>
      <%= form.text_field :content %>
      <% if @task.errors.any? %>
        <%= @task.errors.messages[:content][0]%>
      <% end %>
        <li class="submit"><%= form.submit "GO" %></li>
    <% end %>
  </ul>
</div>