<div class="new-wrapper">
  <%= render "header_ber" %>
<div>

<%# タスク入力部分 %>
<div class="create-task">
  <h1 class="new-quest">クエスト作成</h1>
  <% if @task.errors.any? %>
    <%= @task.errors.messages[:content][0]%>
  <% end %>
  <ul class="new-task">
    <%= form_with model: @task, local: true do |form| %>
      <li class="text">クエスト</li>
      <%# <h1 class="second-quest">優先度を1〜3で入力してください</h1> %>
      <%# <li><%= form.text_field :point, class: "form-point", placeholder:"1〜3" %></li> %>
      <%# <%= form.collection_select(:point_id, Point.all, :id, :name, {}, {class:"select-box", id:"task_point"}) %> %>
      <li><%= form.text_field :content, placeholder:"task" %></li>
        <li class="submit"><%= form.submit "GO" %></li>
    <% end %>
  </ul>
</div>