<div class="new-wrapper">
  <%= render "header_ber" %>
<div>

<%# タスク入力部分 %>
<div class="create-task">
  <h1>クエスト作成</h1>
  <div class="form-all">
    <%= form_with model: @task, local: true do |form| %>
      <%= form.label :content, 'クエスト' %>
      <%= form.text_field :content %>
          <div class="create-submit">
            <%= form.submit "GO" %>
          </div>
    <% end %>
  </div>
</div>