<div class="new-wrapper">
  <%= render "header_ber" %>
<div>

<%# タスク入力部分 %>
<div class="create-task">
  <h1>タスク作成</h1>
  <div class="form-all">
    <%= form_with model: @task, local: true do |form| %>
      <%= form.label :content, 'タスク' %>
      <%= form.text_field :content %>
      <%= form.submit "GO" %>
    <% end %>
  </div>
</div>